<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>

	<h3>{{boardInfo.title}}</h3>
	<div class="row">
		<div class="col-md-3  col-xs-4 thumb mobileFlex50" ng-repeat="item in items | limitTo:12">
			<div >
				<div class="thumbnail text-center">	
						
				<a  href="#/boards/{{boardInfo.id}}/items/{{item.id}}/?pgid={{pgid}}&curPage={{curPage}}"">
					<img class="img-responsive "	ng-src="/fileman/viewThumb/{{item.fid}}/?pgid={{pgid}}&curPage={{curPage}}" alt="{{item.title}}" />
				</a>
				<p class="img-caption">{{item.title}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row"  style="text-align:right">
		<nav aria-label="Page navigation ">
			<ul class="pagination pagination-sm justify-content-center">
				<li class="page-item" ><a class="page-link"   ng-if="curPage != prevRange" ng-href="#/boards/{{boardInfo.id}}?pgid={{boardInfo.pgid}}&curPage={{prevRange}}">Previous</a></li>
				<li class="page-item" ><a class="page-link" ng-if="curPage != nextRange" ng-href="#/boards/{{boardInfo.id}}?pgid={{boardInfo.pgid}}&curPage={{nextRange}}">Next</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>