<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
	<div >
		<div class="row vcenter topBanner" style="background: url('./html/img/subbg_{{mid}}.png') repeat-x "  ng-controller="SubBannerCtrl">
			<div class="container align-middle bannerText"	>
				<span class="">{{mtext}}</span>
			</div>
		</div>
		<div class="container" >
			<div class="row ">			
				<div class="col-md-2 mobileoff">
					<div id="leftMenu" ng-include="'/html/templates/leftMenu.html'"></div>
				</div>
				<div class="col-md-10 article"  style="max-width:780px">		
					<ng-switch on="mode">
							<div ng-switch-when="gallery" ><ng-include src="'/html/templates/boardList.gallery.html'"/></div>
							<div ng-switch-when="video" ><ng-include src="'/html/templates/boardList.video.html'"/></div>
							<div ng-switch-default ><ng-include src="'/html/templates/boardList.general.html'"/></div>
					</ng-switch>	
				</div>
			</div>
		</div>
	</div>
</body>
</html>