<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>

	<h3>{{boardInfo.title}}</h3>
	<div class="row">
		<div class=" col-md-4 thumb" ng-repeat="item in items | limitTo:12">
			<div class="thumbnail">
				<div>	
				<div class="embed-responsive embed-responsive-16by9 video-wrapper" >
			    <youtube-video class="embed-responsive-item" video-id="item.url"></youtube-video>
              </div>
				<p>{{item.title}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row"  style="text-align:right">
		<nav aria-label="Page navigation ">
			<ul class="pagination pagination-sm justify-content-center">
				<li class="page-item" ><a class="page-link"   ng-if="curPage != prevRange" ng-href="#/boards/{{boardInfo.id}}?pgid={{boardInfo.pgid}}&curPage={{prevRange}}">Previous</a></li>
				<li class="page-item" ><a class="page-link" ng-if="curPage != nextRange" ng-href="#/boards/{{boardInfo.id}}?pgid={{boardInfo.pgid}}&curPage={{nextRange}}">Next</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>