<app-sections></app-sections>

<div class="container">


  <div class="section-modal modal show" tabIndex="-1" role="dialog" aria-hidden="false" *ngIf="show" [ngClass]="{ show: true }">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal" (click)="close()">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container-fluid"> 
          <div class="row">
            <div class="col-lg">
              <div class="modal-body">

                <app-contents [content]="content"></app-contents>

                <button class="btn btn-primary btn-close" data-dismiss="modal" type="button" (click)="close()">
                  <i class="fa fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal-backdrop show loading-backdrop" *ngIf="show"></div>
