/* You can add global styles to this file, and also import other style files */

/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Nanum+Gothic:400,700|Sarina|Stylish|Sunflower:300|Noto+Sans+KR'); */

/* @import url('//fonts.googleapis.com/earlyaccess/jejuhallasan.css'); */
/* @import url('//fonts.googleapis.com/earlyaccess/jejugothic.css'); */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 16px;
  line-height: 2rem;
  position: relative;
  overflow-y: scroll;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Sunflower', sans-serif; */
  /* font-family: 'Stylish', sans-serif; */
  /* font-family: 'Noto Sans KR', sans-serif; */
}

.font-jejuhallasan {
  font-family: 'Jeju Hallasan', cursive;
}

.logo-text {
  font-family: 'Sarina', sans-serif;
  /* font-family: 'Do Hyeon', sans-serif; */
  /* font-family: 'Jeju Hallasan', cursive; */
  font-size: 3rem;
  line-height: 3rem;
  text-transform: capitalize;
  text-shadow: 4px 4px 4px #aaa;
}

.logo-text::after {
  /* content: '코스카'; */
  content: 'Coska';
}

#navibar,
aside,
.breadcrumb {
  font-family: 'Do Hyeon', sans-serif;
  /* font-family: 'Jeju Gothic', serif; */
}

#navibar {
  font-size: 1.2rem;
}

aside {
  font-size: 1.1rem;
}

.breadcrumb {
  font-size: 1rem;
}

header {
  margin-bottom: 0 !important;
}

.breadcrumb {
  height: 3rem;
}

.main-container {
  /* background-color: grey; */
  min-height: calc(100vh - 10rem);
  display: flex;
}

.main,
aside {
  min-height: 100%;
}

.main {
  /* background-color: rgb(17, 134, 13); */
  flex: 1;
  padding-left: 0;
  padding-right: 0;
}

.main-body {
  margin: 1.5rem 1rem;
}

.breadcrumb {
  margin: 0;
}

aside {
  /* background-color: rgb(235, 196, 114); */
  flex: 1;
}

footer {
  height: 5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 300px) {
  #sidebar {
    display: none;
  }
}

@media (min-width: 400px) {}

@media (min-width: 575px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
  #sidebar {
    display: block;
  }
}

@media (min-width: 1200px) {}

/* S:Food Sample */

.food-body {
  background-color: rgb(64, 146, 146);
  color: white;
  padding: 4px;
}

.food-title {
  font-weight: bold;
}

.food-desc {
  margin-left: 20px;
  margin-bottom: 1em;
  font-size: 0.8rem;
}

.italic {
  font-style: italic;
}

@media (min-width: 300px) {
  .media-body {
    display: block;
    margin: 1rem;
  }

  .media-body img {
    max-width: 300px;
    object-fit: contain;
  }

  .media-body p {
    max-width: 300px;
    margin: 0.5rem;
  }

}


@media (min-width: 992px) {
  .media-body {
    display: flex;
    margin: 1rem;
  }

  .media-body p {
    max-width: 400px;
    margin-left: 1rem;
  }

}

/* E:Food Sample */


/* S:Cards */
.post-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
}


.card-title a {
  /* pointer-events: none; */
  /* cursor: default; */
  text-decoration: none;
  color: #212529;
}

a.post-link {
  /* pointer-events: none; */
  /* cursor: default; */
  text-decoration: none;
  color: #212529;
}

/* E:Cards */

.post-image figurecaption {
  display: inline-block;
  width: 100%;
}
